# Whether to use the mock implementation instead of connecting
# to an actual OIDC server.
OIDC_USE_MOCK=false

# By default, the example uses **Keycloak**.
# You can comment out the Keycloak section and uncomment
# another provider below to test other integrations.


# ======= Keycloak ======================
# This demo server is generously provided by Phase Two, OIDC-SPA's main sponsor.
# For managed Keycloak hosting and enterprise support, we highly recommend their services: https://phasetwo.io/
OIDC_ISSUER_URI=https://phasetwo.oidc-spa.dev/realms/demo-realm
OIDC_BROWSER_APP_CLIENT_ID=example-app
OIDC_ACCESS_TOKEN_EXPECTED_AUDIENCE=account
